<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="tika" class="org.apache.tika.parser.AutoDetectParser">
        <constructor-arg>
            <list>
                <bean id="txt" class="org.apache.tika.parser.txt.TXTParser"/>
                <bean id="doc" class="org.apache.tika.parser.microsoft.OfficeParser"/>
                <bean id="pdf" class="org.apache.tika.parser.pdf.PDFParser"/>
            </list>
        </constructor-arg>
    </bean>

    <context:component-scan base-package="findit.metadata.extraction"/>


</beans>